@import "../tools/tools.text-truncate";

.u-text-truncate {
  @include text-truncate;
  max-width: 100%;
  min-width: 70px;
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-overflow-y-auto {
  overflow-y: auto;
}
