@import "../base/functions";

.theme-contrast {

  // Backgrounds
  --colorBg: #EBEBEB;
  --colorBgLevel1: #0d485a;
  --colorBgLevel2: #ffffff;
  --colorBgLevel3: #ffffff;
  --colorBgLevel4: #ffffff;
  --colorBgLevel4_rgb: 255, 255, 255;
  --colorBgPrimary: #067394;
  --colorBgSecondary: #0d485a;
  --colorBgInverse: #265b6b;
  --colorBgInverse_rgb: 38, 91, 107;


  // Statuses
  --colorSuccess: #31ac51;
  --colorWarning: #EE9946;
  --colorError: #F95C5D;
  --colorCritical: #a20000;
  --colorNoControl: #7E8087;
  --colorFalseValue: #85B3CB;


  // Text
  --colorText: #202127;
  --colorTextSecondary: #282A31;
  --colorTextOnInactive: rgba(32, 33, 39, 0.4);
  --colorTextMuted: #30333C;
  --colorTextPlaceholder: rgba(48, 51, 60, 0.7);
  --colorTextTertiary: #282A31;
  --colorTextOnStatus: #202127;
  --colorTextOnCritical: #ffffff;
  --colorTextOnNoControl: #ffffff;
  --colorTextInverse: #ffffff;

  // Link
  --colorLink: #067394;
  --colorLinkInverse: #78F4FF;
  --colorLinkVisited: #067394;

  // Icon
  --colorIcon: #202127;
  --colorIconPrimary: #067394;
  --colorIconInverse: #ffffff;

  // Overlay
  --colorOverlay: rgba(0, 0, 0, 0.5);
}
