@use 'sass:map';
@use 'sass:math';
@import "../mediaqueries/variables";


//== Grid system (from blaze.css) [Deprecated]
//
//## Define your custom responsive grid.

// Grid
//
$grid-gutter: $unit-tiny !default;
$grid-widths: (
  5: math.div(5, 100),
  10: math.div(1, 10),
  16: math.div(16.6, 100),
  20: math.div(1, 5),
  25: math.div(1, 4),
  30: math.div(3, 10),
  33: math.div(1, 3),
  35: math.div(35, 100),
  40: math.div(2, 5),
  45: math.div(45, 100),
  50: math.div(1, 2),
  55: math.div(55, 100),
  60: math.div(3, 5),
  65: math.div(65, 100),
  66: math.div(2, 3),
  70: math.div(7, 10),
  75: math.div(3, 4),
  80: math.div(4, 5),
  85: math.div(85, 100),
  90: math.div(9, 10),
  95: math.div(95, 100),
  100: 1
);

//** Number of columns in the grid.
$grid-columns: 12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width: 30px !default;
$grid-gutter-width-base: $grid-gutter-width;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint: #{map.get($screen-limits, medium)} !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
) !default;
