@use "sass:map";
@function map-collect($maps...) {
  $collection: ();

  @each $map in $maps {
    $collection: map.merge($collection, $map);
  }
  @return $collection;
}

// Usage:
// $colors: map-collect($color-name, $color-event, $color-category);
