@import "../theme/variables";
@import "../base/variables";

$icon-point-outofcontrol-box-shadow: $color-blue-dark-300 !default;

$ids-icon-theme-property-values: (
  icon-point-outofcontrol-box-shadow: $icon-point-outofcontrol-box-shadow
);
