// Import-only compatibility file.
// Same as _variables.scss but without @use of user modules —
// in @import mode those variables are already in global scope.

$radio-disabled-background: $color-gray-5 !default;

$ids-radio-theme-property-values: (
  radio-disabled-background: $radio-disabled-background
);
