.c-widget-parameter-icon {
  filter: none;
  opacity: 0.7;
}

.c-widget {

}

.c-widget__block {

}

.c-widget-parameter-icon {
  filter: brightness(3);
  opacity: 0.7;
}ы

.c-widget__block_status-none {
  background: $color-gray-20;
}
