// Widget status

.c-widget-status_vertical-line-left {
  border-left: 2px solid $ids-theme-primary;
}

.c-widget-status_vertical-line-left-status-success {
  border-left-color: $ids-theme-status-success;
}

.c-widget-status_vertical-line-left-status-warning {
  border-left-color: $ids-theme-status-warning;
}

.c-widget-status_vertical-line-left-status-error {
  border-left-color: $ids-theme-status-error;
}

.c-widget-status_vertical-line-left-status-maintenance {
  border-left-color: $ids-theme-status-pending;
}

.c-widget-status_vertical-line-left-status-critical {
  border-left-color: $ids-theme-status-critical;
}

.c-widget-status_icon-font-status-success {
  color: var(--ids-theme-badge-text-on-light, $text-color-on-light);
  background: var(--ids-theme-status-success, $ids-theme-status-success);
  border-radius: 4px;
  padding: 4px;
}

.c-widget-status_icon-font-status-warning {
  color: var(--ids-theme-badge-text-on-light, $text-color-on-light);
  background: var(--ids-theme-status-warning, $ids-theme-status-warning);
  border-radius: 4px;
  padding: 4px;
}

.c-widget-status_icon-font-status-error {
  color: var(--ids-theme-badge-text-on-light, $text-color-on-light);
  background: var(--ids-theme-status-error, $ids-theme-status-error);
  border-radius: 4px;
  padding: 4px;
}

.c-widget-status_icon-font-status-maintenance {
  color: var(--ids-theme-badge-text-on-light, $text-color-on-light);
  background: var(--ids-theme-status-maintenance, $ids-theme-status-pending);
  border-radius: 4px;
  padding: 4px;
}

.c-widget-status_icon-font-status-critical {
  color: var(--ids-theme-badge-text-on-dark, $text-color-on-dark);
  background: var(--ids-theme-status-critical, $ids-theme-status-critical);
  border-radius: 4px;
  padding: 4px;
}

// Widget styles

