// You can access data in this map using the following function:
//
// inuit-config(<key>)
//
// Example usage:
//
// @if (inuit-config(debug) == true) { ...  }
@use "sass:color";
@use "sass:map";
@function inuit-config($key) {
  @return map.get($inuit-config, $key);
}

@function hex-to-rgb-numbers($color) {
  @return color.channel($color, "red", $space: rgb) + ',' + color.channel($color, "green", $space: rgb) + ',' + color.channel($color, "blue", $space: rgb)
}
