$input-tap-highlight-color: $color-base-black !default;

// Default `.form-control` height
$input-height-base: ($line-height-computed * $font-size-base + ($unit * 2) + 2) !default;

// Large `.form-control` height
$input-height-large: (ceil($font-size-lg * $line-height-computed) + ($unit-large * 2) + 2) !default;

// Small `.form-control` height
$input-height-small: (floor($font-size-sm * $line-height-computed) + ($unit-small * 2) + 2) !default;

// Tiny `.form-control` height
$input-height-tiny: (floor($font-size-xs * $line-height-computed) + ($unit-tiny * 2) + 2) !default;

$ids-input-theme-property-values: (
  input-tap-highlight-color: $input-tap-highlight-color
);
